{
    "presets": [
        ["es2015",
        {
            "loose": true,
            "modules": false
        }],
        "react",
        "stage-2"
    ],
    "env":
    {
        "production":
        {
            "presets": [
                "minify"
            ],
            "plugins":[
                "transform-remove-console-enhance"
            ]
           
        },
        "development":
        {

        }
    },
    "plugins": [
        "react-hot-loader/babel",
        ["import",
        {
            "libraryName": "antd",
            "style": "css"
        }] // `style: true` 会加载 less 文件
    ]
}